<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="icon" href="images/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="images/Candid_Picture.jpg" class="portrait">        </div>
        {{>footer}}
    </body>
</html>
